{
	"extends": [ "axway", "axway/env-node", "axway/+react" ],
	"globals": {
		"atom": false,
		"setTimeout": false,
		"__dirname": false,
		"require": false,
		"module": false
	},
	"rules": {
		"security/detect-non-literal-regexp": "off",
		"react/jsx-no-bind": "off", 
		"react/no-string-refs": "off",
		"no-control-regex": "off",
		"jsx-a11y/label-has-for": "off",
		"node/no-unsupported-features/es-syntax": ["warn", {
			"ignores": [
				"modules"
			]
		}]
	}
}
